
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #1932bb;
} 

.header-flex, footer {
  display: flex;
  background-color: rgb(20, 120, 187);
  color: white;
  align-items: center;
}

.image{
  flex:1;
  padding: 10px;
  padding-left: 50px;
}

#student-icon {
  width: 200px;
}

h1 {
  font-size: 2em;
}

.title {
  flex:8;
  padding-right: 50px;
  text-align: center;
  }

.grid-header {
  grid-area:h;
}
  
.nav-links {
  text-decoration: none;
  color: white;
}
  
.sites-links {
  text-decoration: none;
  color: rgb(20, 120, 187);
}

.main {
  color: #333333;
}

.grid-main {
  grid-area:m;
}

.footer-flex {
  color: white;
  padding: 7px;
}

.grid-footer {
  grid-area:f;
  padding-left: 80px;
}

.grid-nav {
  grid-area:n;
  background-color: rgb(20, 120, 187);
  color: white;
  padding: 10px;
  flex:1;
  line-height: 5px;
  align-items: start;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.flex-sites {
  text-decoration: none;
  color:rgb(20, 120, 187);
}

.grid-aside{
  grid-area:s;
  display:flex;
  flex:1;
  background-color: white;
  border-style: solid;
  border-color: rgb(20, 120, 187);
  flex-direction: column;
  line-height: 0.8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;
  padding-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-areas:
  'h h h'
  'n m s'
  'f f f';
}

.grid-main-units {
  grid-area:m;
}
